.badge{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 960px;  
    position: relative; 
}

.badge-head{
    background-color: #c96a00;
    flex: 2;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.badge-head>div{
    display: flex;
}

.badge-head div>div{
    flex: 1;
}

.badge-body{
    background-color: #b1d2bb;
    flex: 3;
    width:100%;
    border-radius: 0 0 10px 10px;
}

.badge-body>div{
    display: flex;
}

.licence{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.licence p{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
    font-family:  Georgia, serif;
    letter-spacing: 2.5rem;
    margin: 0 5px; 
}

.profile{
    width: 30%;
    height: 75%;
    position: absolute;
    background-color: #668782;
    left: 10%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid;
}

.profile img{
    width: 50%;
    height: auto;
    margin: 25%;
}

.medallion{
    position: absolute;  
    bottom: 0px;
    margin: 50px;  
    left: 40%;
}

.medallion img{
    border-radius: 50%;
    width: 50%;
    height: auto;
}

ul.errors{
    background-color: rgba(255, 0, 0, 0.50);
    color: #FFF;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

ul.errors li{
    margin: 20px;
}

.informations{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: right;
    font-size: 2rem;
}

.informations span{
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    
}

span.writer{
    font-family:cursive;    
    margin: 10px;
    
}